/* section of cart categories */

.categories-item{
    width: 312px;
    cursor: pointer;
}

.categories-item .services-item-two .services-thumb-two{
    height: 450px;
    color: black;
}

.none{
    display: none;
}

.block{
    display: block;
}

