/* section of cart categories */

.project-thumb-two .items{
    padding: 15px;
}

.project-thumb-two .items .ViwesClasses h4 , .project-thumb-two .items .ViwesClasses i{
    display: inline-block;
   margin: 30px;
}

.none{
    display: none;
}

.block{
    display: block;
}