::-webkit-scrollbar {
  width: 5px;
  height: 10px;
  border-radius: 10px;
  background-color: #f7f7f7 !important;
}

::-webkit-scrollbar-thumb {
  background: #2014c9;
  border-radius: 10px;
}

::-webkit-scrollbar-track-piece {
  width: 5px;
  border-radius: 10px;
  background-color: #f7f7f7;
}



/* nav section */
ul {
  list-style-type: none;
}

hr {
  width: 50%;
  display: flex;
}
main {
  margin: 100px 0;
}
/* side-filter-nav */

.filter-nav {
  width: 100%;
  margin: 0px auto;
  border-radius: 10px;
  box-shadow: 0px 0px 5px black;
  padding: 10px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.filter-nav .filter {
  display: flex;
  margin: 10px;
  width: 50%;
  overflow-x: scroll;
}

.title-filter {
  text-align: center;
}

.contentt{
  box-shadow: 0px 0px 8px gray;
  margin-right: 0px;
  margin-top: 50px;
  display: flex;
  position: absolute;
  height: 500px;
  flex-direction: column;
  width: 300px;
  padding: 20px;
  border-radius: 10px 0px 0px 10px;
  z-index: 5 !important;

  animation: animatetop 0.5s;

}

.contentt .filter-list{
  display: flex;
  list-style-type: none;
  align-items: center;
  justify-content: space-around;
  border-bottom: 1px solid red;
}

.contentt .filter-list li{
  cursor: pointer;
}

.contentt .top-section{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.contentt .top-section span{
  font-size: 17px;
}

.contentt .top-section i{
  font-size: 17px;
  color: red;
  cursor: pointer;
}

.filter-container .call-filter {
  display: flex;
  align-items: center;
  /* position: absolute; */
  width: 50px;
  height: 50px;
  justify-content: center;
  margin-top: 50px;
  padding: 20px;
  background-color: #2014c9;
  border-radius: 10px 0px 0px 10px ;
  z-index: -1 !important;
  cursor: pointer;
}

.filter-container .call-filter i{
  padding: 20px;
}


@keyframes animatetop{
  from{
      margin-top:-300px ;
      opacity: 0;

  }
  to{
      margin-top: 100px;
      opacity: 1;
  }
}
/* side-filter-nav end*/

/* selector section */

.selector {
  border: 1px solid black;
  margin-bottom: 80px;
  border-radius: 20px;
  width: 300px;
  height: 30px;
  overflow: hidden;
  display: flex;
  width: 50%;
}

.selector button {
  height: 100%;
  width: 50%;
  border: none;
}

.acctive {
  background: rgb(4, 0, 255) !important;
  color: rgb(255, 255, 255);
  padding: 8px;
  border-radius: 5px;
  cursor: pointer;
}

.none{
  display: none;
}

.block {
  display: block;
}

/* classes  section*/

/* .classes {
  width: 45%;
}
.class-item {
  border-radius: 20px;
  border: 1px solid black;
  margin: 0px auto;
  margin-top: 10px;
  padding: 10px;
}

.class-item .section-one {
  position: relative;
}

.class-item .section-one img {
  border-radius: 10px;
  margin: 15px;
}

.class-item .section-one h3 {
  display: inline-block;
}

.class-item .section-one .span {
  display: block !important;
}

.class-item .section-two {
  position: relative;
}
.class-item .section-two button {
  border: 1px solid black;
  background: white;
  border-radius: 10px;
  padding: auto;
  color: black;
  position: absolute;
  left: 5px;
  bottom: 5px;
  transition: all 0.5s;
}
.class-item .section-two button:hover {
  background: rgb(4, 0, 255);
  font-weight: bold;
  color: white;
}

.classes .class-item .section-one .info {
  position: absolute;
  top: 20px;
  right: 300px;
}

.class-item .section-one .manaiger {
  font-weight: bold;
  color: rgb(4, 0, 255);
  position: absolute;
  bottom: 10px;
} */

/* institute  section*/
.institute-container,
.class-container {
  width: 100%;
  justify-content: space-between;
}

.institute,
.class {
  width: 45%;
  margin: 0px;
}
.institute-item,
.class-item {
  border-radius: 20px;
  border: 1px solid black;
  margin: 0px auto;
  margin-top: 10px;
  padding: 10px;
  margin: 12px;
  margin-top: 20px;
}

.institute-item .section-one,
.class-item .section-one {
  position: relative;
}

.institute-item .section-one img,
.class-item .section-one img {
  border-radius: 10px;
  margin: 15px;
}

.institute-item .section-one h3,
.class-item .section-one h3 {
  display: inline-block;
}

.institute-item .section-one .span,
.class-item .section-one .span {
  display: block !important;
}

.info {
  display: flex;
  flex-direction: column;
}

.institute-item .section-one button,
.class-item .section-one button {
  border: 1px solid black;
  background: white;
  border-radius: 10px;
  margin: 20px 0;
  color: black;
  transition: all 0.5s;
}
.link-button-container {
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.institute-item .section-one button:hover,
.class-item .section-one button:hover {
  background: rgb(4, 0, 255);
  font-weight: bold;
  color: white;
}
.institute .section-one,
.class .section-one {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.institute-item .section-one .manaiger,
.class-item .section-one .manaiger {
  font-weight: bold;
  color: rgb(4, 0, 255);
}
.categotiy-bar {
  display: none;
}

@media screen and (max-width: 767.98px) {
  .filter-nav {
    flex-direction: column;
    box-shadow: none;
    padding: 0;
  }
  .selector {
    width: 100%;
    margin: 20px 0;
  }
  .filter {
    display: none !important;
  }
  .my-container {
    margin: 0 20px;
  }
  .categotiy-bar {
    display: block;
    order: 1;
    margin: 30px 0;
  }
  .blog-sidebar {
    margin: 0;
  }
  .institute,
  .class {
    width: 100%;
  }
  br {
    display: none;
  }
  .info span:nth-child(2) {
    display: block;
  }
  .institute-item .section-one,
  .class-item .section-one {
    display: flex;
    flex-direction: column;
  }
  .section-one img {
    margin: 0 !important;
    margin-bottom: 20px !important;
  }
}
@media screen and (max-width: 992px) and (min-width: 768px) {
  .filter-nav {
    flex-direction: column;
    box-shadow: none;
    padding: 0;
  }
  .selector {
    width: 75%;
    margin: 20px 0;
  }
  .filter {
    display: none !important;
  }
  .my-container {
    margin: 0 20px;
  }
  .categotiy-bar {
    display: block;
    order: 1;
    margin: 30px 0;
  }
  .blog-sidebar {
    margin: 0;
  }
  .institute-container,
  .class-container {
    justify-content: center;
  }
  .institute,
  .class {
    width: 70%;
  }
  .section-one {
    justify-content: space-between !important;
  }
  br {
    display: none;
  }
  .info span:nth-child(2) {
    display: block;
  }
  .section-one img {
    margin: 0 !important;
  }
}
